force-app/main/default/flows/Process_PE_Course_Publish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Course_Fields</name>
        <label>Set Course Fields</label>
        <locationX>578</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>Course_Lookup.csuoee__Short_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Short_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Course_Lookup.hed__Credit_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Credit_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Course_Lookup.hed__Extended_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Extended_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Course_Lookup.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TruncatedCourseName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Course_Lookup.hed__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TruncatedCourseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Course_Lookup.lms_hed__LMS_Reference_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LMSReferenceFromCourseCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NoncreditRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Noncredit</stringValue>
        </value>
    </constants>
    <constants>
        <name>PEDepartmentName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Professional Education</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_or_Update_Check</name>
        <label>Create or Update Check</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Is_this_a_Noncredit_Course</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Requires Update</defaultConnectorLabel>
        <rules>
            <name>Requires_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Lookup.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Noncredit_Course_RecordType_Id</targetReference>
            </connector>
            <label>Requires Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Department</name>
        <label>Found Department?</label>
        <locationX>380</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Create_or_Update_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Department Found</defaultConnectorLabel>
        <rules>
            <name>Set_Default_PE_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Department.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PE_Department</targetReference>
            </connector>
            <label>Set Default PE Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Noncredit_Course</name>
        <label>Is this a Noncredit Course</label>
        <locationX>710</locationX>
        <locationY>1010</locationY>
        <defaultConnector>
            <targetReference>Create_Course_Update_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit</defaultConnectorLabel>
        <rules>
            <name>Noncredit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Course_Lookup.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoncreditRecordTypeDeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Course_Fields</targetReference>
            </connector>
            <label>Noncredit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LMSReferenceFromCourseCode</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Course_Code__c}, &apos; &apos;, &apos;-&apos;)</expression>
    </formulas>
    <formulas>
        <name>TruncatedCourseDescription</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Short_Description__c}, 255)</expression>
    </formulas>
    <formulas>
        <name>TruncatedCourseName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Course_Name__c}, 80)</expression>
    </formulas>
    <interviewLabel>Process PE Course Publish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process PE Course Publish</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Course</name>
        <label>Create Course</label>
        <locationX>50</locationX>
        <locationY>1130</locationY>
        <faultConnector>
            <targetReference>Create_Course_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TruncatedCourseName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Noncredit_Course_RecordType_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>csuoee__Course_Code__c</field>
            <value>
                <elementReference>$Record.Course_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>csuoee__Short_Description__c</field>
            <value>
                <elementReference>$Record.Short_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Account__c</field>
            <value>
                <elementReference>Get_Department.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course_ID__c</field>
            <value>
                <elementReference>$Record.Course_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Credit_Hours__c</field>
            <value>
                <elementReference>$Record.Credit_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Description__c</field>
            <value>
                <elementReference>TruncatedCourseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Extended_Description__c</field>
            <value>
                <elementReference>$Record.Extended_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <value>
                <elementReference>LMSReferenceFromCourseCode</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Course_Create_Error</name>
        <label>Create Course Create Error</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Create Object</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to create Course.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>hed__Course__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Course_Update_Error</name>
        <label>Create Course Update Error</label>
        <locationX>842</locationX>
        <locationY>1130</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Update Object</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to update Course.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>hed__Course__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Course_Lookup</name>
        <label>Course Lookup</label>
        <locationX>380</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Department_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>csuoee__Course_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Department</name>
        <label>Get Department</label>
        <locationX>380</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Department</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>hed__School_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Department_RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Department_RecordType</name>
        <label>Get Department RecordType</label>
        <locationX>380</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Department</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>University_Department</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Noncredit_Course_RecordType_Id</name>
        <label>Get Noncredit Course RecordType Id</label>
        <locationX>50</locationX>
        <locationY>1010</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Course</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>hed__Course__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoncreditRecordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PE_Department</name>
        <label>Get PE Department</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PEDepartmentName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Department_RecordType.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Get_Department.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course</name>
        <label>Update Course</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <inputReference>Course_Lookup</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Course_Lookup</targetReference>
        </connector>
        <object>NC_Course_Publish__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
</Flow>
