force-app/main/default/flows/Process_PE_Account_Publish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Company_Fields</name>
        <label>Update Company Fields</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>Lookup_Business_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lookup_Business_Account.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lookup_Business_Account.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lookup_Business_Account.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lookup_Business_Account.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lookup_Business_Account.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Company_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Fields</name>
        <label>Update Contact Fields</label>
        <locationX>1590</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>ContactToUpdate.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoalesceBirthday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToUpdate.MailingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoalesceAddress1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToUpdate.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoalesceCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToUpdate.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoalesceCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToUpdate.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoalesceZip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToUpdate.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoalesceState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToUpdate.CSU_Online_Account_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoalesceEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Contact_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Business_Organization_DeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_Organization</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Contact_Email_Exists</name>
        <label>Contact Email Exists?</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Present</defaultConnectorLabel>
        <rules>
            <name>Email_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactToUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Record</targetReference>
            </connector>
            <label>Email Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Company_Already_Exist</name>
        <label>Does Company Already Exist?</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Get_Business_Organization_RecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Company_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Business_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Company_Fields</targetReference>
            </connector>
            <label>Company Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Company_Account</name>
        <label>Is this a Company Account?</label>
        <locationX>952</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_By_Noncredit_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Person</defaultConnectorLabel>
        <rules>
            <name>Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Business_Account</targetReference>
            </connector>
            <label>Company</label>
        </rules>
    </decisions>
    <decisions>
        <name>Noncredit_ID_Exists</name>
        <label>Noncredit ID Exists?</label>
        <locationX>1590</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Noncredit ID Present</defaultConnectorLabel>
        <rules>
            <name>Noncredit_ID_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactToUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_By_Email</targetReference>
            </connector>
            <label>Noncredit ID Missing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CoalesceAddress1</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Address1__c}), {!ContactToUpdate.MailingAddress}, {!$Record.Address1__c})</expression>
    </formulas>
    <formulas>
        <name>CoalesceBirthday</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!$Record.Birthday__c}), {!ContactToUpdate.Birthdate}, {!$Record.Birthday__c})</expression>
    </formulas>
    <formulas>
        <name>CoalesceCity</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.City__c}), {!ContactToUpdate.MailingCity}, {!$Record.City__c})</expression>
    </formulas>
    <formulas>
        <name>CoalesceCountry</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Country__c}), {!ContactToUpdate.MailingCountry}, {!$Record.Country__c})</expression>
    </formulas>
    <formulas>
        <name>CoalesceEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Email__c}), {!ContactToUpdate.CSU_Online_Account_Email__c}, {!$Record.Email__c})</expression>
    </formulas>
    <formulas>
        <name>CoalescePhone1</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Phone1__c}), {!ContactToUpdate.HomePhone}, {!$Record.Phone1__c})</expression>
    </formulas>
    <formulas>
        <name>CoalesceState</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.State__c}), {!ContactToUpdate.MailingState}, {!$Record.State__c})</expression>
    </formulas>
    <formulas>
        <name>CoalesceZip</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Zip__c}), {!ContactToUpdate.MailingPostalCode}, {!$Record.Zip__c})</expression>
    </formulas>
    <formulas>
        <name>EvaluatePhonePreference</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Phone2__c}),IF(ISBLANK({!$Record.Phone1__c}),&quot;&quot;,&quot;Home&quot;),&quot;Mobile&quot;)</expression>
    </formulas>
    <interviewLabel>Process PE Account Publish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process PE Account Publish</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Business_Account</name>
        <label>Create Business Account</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <faultConnector>
            <targetReference>Create_Company_Account_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Address1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>RecordTypeId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__School_Code__c</field>
            <value>
                <elementReference>$Record.Noncredit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Company_Account_Create_Error</name>
        <label>Create Company Account Create Error</label>
        <locationX>842</locationX>
        <locationY>794</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to create Company Account.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Company_Account_Update_Error</name>
        <label>Create Company Account Update Error</label>
        <locationX>314</locationX>
        <locationY>794</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Update Object</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to update Company Account.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Create_Error</name>
        <label>Create Contact Create Error</label>
        <locationX>1370</locationX>
        <locationY>914</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to create Contact.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>1106</locationX>
        <locationY>794</locationY>
        <faultConnector>
            <targetReference>Create_Contact_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Birthday__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSU_Online_Account_Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>CSU Online Website</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.Zip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Address1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Noncredit_ID__c</field>
            <value>
                <elementReference>$Record.Noncredit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__PreferredPhone__c</field>
            <value>
                <elementReference>EvaluatePhonePreference</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Update_Error</name>
        <label>Create Contact Update Error</label>
        <locationX>1986</locationX>
        <locationY>1610</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to update Contact.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Business_Organization_RecordTypeId</name>
        <label>Get Business_Organization RecordTypeId</label>
        <locationX>578</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Business_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Business_Organization_DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_By_Email</name>
        <label>Get Contact By Email</label>
        <locationX>1370</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Email_Exists</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__AlternateEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CSU_Online_Account_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__UniversityEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__WorkEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_By_Noncredit_Id</name>
        <label>Get Contact By Noncredit Id</label>
        <locationX>1590</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Noncredit_ID_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Noncredit_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Noncredit_ID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Business_Account</name>
        <label>Lookup Business Account</label>
        <locationX>314</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Company_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__School_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Noncredit_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Run_Contact_Update</name>
        <label>Run Contact Update</label>
        <locationX>1590</locationX>
        <locationY>1490</locationY>
        <faultConnector>
            <targetReference>Create_Contact_Update_Error</targetReference>
        </faultConnector>
        <inputReference>ContactToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Company_Account</name>
        <label>Update Company Account</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <faultConnector>
            <targetReference>Create_Company_Account_Update_Error</targetReference>
        </faultConnector>
        <inputReference>Lookup_Business_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>826</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_a_Company_Account</targetReference>
        </connector>
        <object>NC_Account_Publish__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
