force-app/main/default/flows/Process_PE_Student_Enrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Does_Enrollment_Exist</name>
        <label>Does Enrollment Exist?</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_Student_Connection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enrollment Missing</defaultConnectorLabel>
        <rules>
            <name>Enrollment_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Student_Enrollment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Enrollment_Updatable</targetReference>
            </connector>
            <label>Enrollment Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Enrollment_Updatable</name>
        <label>Is Enrollment Updatable?</label>
        <locationX>50</locationX>
        <locationY>794</locationY>
        <defaultConnector>
            <targetReference>Set_Student_Status_to_Enrolled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enrollment Updatable</defaultConnectorLabel>
        <rules>
            <name>Enrollment_Already_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Student_Enrollment.hed__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <label>Enrollment Already Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Noncredit_User_Id</name>
        <label>Is this a Noncredit User Id?</label>
        <locationX>479</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Noncredit Id Missing</defaultConnectorLabel>
        <rules>
            <name>Noncredit_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_by_Noncredit_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Offering</targetReference>
            </connector>
            <label>Noncredit Id Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Process PE Student Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process PE Student Enrollment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Student_Connection</name>
        <label>Create Student Connection</label>
        <locationX>446</locationX>
        <locationY>794</locationY>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>Get_User_by_Noncredit_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course_Offering__c</field>
            <value>
                <elementReference>Get_Offering.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Status__c</field>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Offering</name>
        <label>Get Offering</label>
        <locationX>248</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Student_Enrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.csuoee__Section_Reference__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_by_Noncredit_Id</name>
        <label>Get User by Noncredit Id</label>
        <locationX>479</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_a_Noncredit_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Noncredit_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.csuoee__User_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Student_Enrollment</name>
        <label>Lookup Student Enrollment</label>
        <locationX>248</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Enrollment_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_by_Noncredit_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Offering.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Enrollment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Student_Status_to_Enrolled</name>
        <label>Set Student Status to Enrolled</label>
        <locationX>182</locationX>
        <locationY>914</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Student_Enrollment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__Status__c</field>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
    </recordUpdates>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_by_Noncredit_Id</targetReference>
        </connector>
        <object>csuoee__Confirmation_Publish__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
</Flow>
