force-app/main/default/flows/Push_Noncredit_ID_Update_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Was_the_Noncredit_ID_changed</name>
        <label>Was the Noncredit ID changed?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Noncredit_ID_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Noncredit_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Noncredit_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push</targetReference>
            </connector>
            <label>Noncredit ID Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Push Noncredit ID Update to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Push Noncredit ID Update to Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Push</name>
        <label>Push Noncredit ID Update to Account</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__School_Code__c</field>
            <value>
                <elementReference>$Record.Noncredit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_the_Noncredit_ID_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Noncredit_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
